@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;                  /*https://codingonblog.com/what-is-flexbox-codingonblog/*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: red; */
    display: flex;                      /*element order in the same row*/
    justify-content: space-between;     /*split spaces by line*/
    align-items: center;                /*Center an element*/
    z-index: 99;                        /*https://getcodecamp.com/2020/07/18/css-z-index/*/
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;              /*ตั้งค่าให้ข้อความปราศจากการตกแต่ง เช่น ขีดเส้นใต้*/
    font-weight: 500;                   
    margin-left: 40px;                  /*ระยะห่างระหว่างแต่ละข้อความ*/
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);               /*missing bottom line*/
    transition: transform .5s;          /*the Line has movement when hovering*/
    transform-origin: right;            /*the line move right to left when cancel mouse point*/
}

.navigation a:hover::after {
    transform-origin: left;             /*the line move left to right when start mouse point*/
    transform: scaleX(1);               /*mouse pointing the line is up*/
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;            /*สีพื้นหลังคุ่นๆ*/
    border: 2px solid #fff;           /*outter border*/
    outline: none;                      /*inner border*/
    border-radius: 6px;                 /*กรอบโค้ง*/
    cursor: pointer;                    /*กำหนดให้เวลาชี้ขึ้นลูกศร*/
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;                    /*this transition when hover*/
}

.navigation .btnLogin-popup:hover {
    background: #fff;                  
    color: #162938;                    /*color of text*/
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(20px);        /*background filter blur*/
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);     /*shadow wrapper*/
    display: flex;
    justify-content: center;            /*Set all the text to be centered.*/
    align-items: center;                /*Set all elements to be centered.*/
    /* overflow: hidden; */
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    /* background: #4e0126; */
    font-size: 1.5em;
    color: #770032;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-bottom-left-radius: 20px;
    z-index: 1; */
}

.form-box h2 {
    font-size: 2em;                     /*Center-align the word 'Login'.*/
    color: #770032;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0c001d;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #0c001d;
    font-weight: 500;
    pointer-events: none;               /*disable events from mouse*/
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;                          
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 550;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;                         /*move icon on right*/
    font-size: 1.2em;
    color: #38011b;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #0c001d;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #0013e4;
    margin-right: 3px;
}

.remember-forgot a {
    color: #0c001d;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #770032;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffe8f4;
    font-weight: 500;
}

.login-register  {
    font-size: .9em;
    color: #0c001d;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #0c001d;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}